Download and Clean DATA

In [0]:
import numpy as np
import pandas as pd

The dataset is about the compressive strength of different samples of concrete based on the volumes of the different ingredients that were used to make them. Ingredients include:

1. Cement

2. Blast Furnace Slag

3. Fly Ash

4. Water

5. Superplasticizer

6. Coarse Aggregate

7. Fine Aggregate

In [5]:
concretedf = pd.read_csv('https://cocl.us/concrete_data')
concretedf.head()

   Cement  Blast Furnace Slag  Fly Ash  ...  Fine Aggregate  Age  Strength
0   540.0                 0.0      0.0  ...           676.0   28     79.99
1   540.0                 0.0      0.0  ...           676.0   28     61.89
2   332.5               142.5      0.0  ...           594.0  270     40.27
3   332.5               142.5      0.0  ...           594.0  365     41.05
4   198.6               132.4      0.0  ...           825.5  360     44.30

[5 rows x 9 columns]

In [7]:
concretedf.shape

(1030, 9)

In [8]:
concretedf.describe()

            Cement  Blast Furnace Slag  ...          Age     Strength
count  1030.000000         1030.000000  ...  1030.000000  1030.000000
mean    281.167864           73.895825  ...    45.662136    35.817961
std     104.506364           86.279342  ...    63.169912    16.705742
min     102.000000            0.000000  ...     1.000000     2.330000
25%     192.375000            0.000000  ...     7.000000    23.710000
50%     272.900000           22.000000  ...    28.000000    34.445000
75%     350.000000          142.950000  ...    56.000000    46.135000
max     540.000000          359.400000  ...   365.000000    82.600000

[8 rows x 9 columns]

In [10]:
concretedf.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [0]:
concretecol = concretedf.columns
predictors = concretedf[concretecol[concretecol != 'Strength']]
target = concretedf['Strength']

In [12]:
predictors.head()

   Cement  Blast Furnace Slag  Fly Ash  ...  Coarse Aggregate  Fine Aggregate  Age
0   540.0                 0.0      0.0  ...            1040.0           676.0   28
1   540.0                 0.0      0.0  ...            1055.0           676.0   28
2   332.5               142.5      0.0  ...             932.0           594.0  270
3   332.5               142.5      0.0  ...             932.0           594.0  365
4   198.6               132.4      0.0  ...             978.4           825.5  360

[5 rows x 8 columns]

In [13]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [14]:
n_cols = predictors.shape[1]
n_cols

8

Import KERAS

In [0]:
import keras

In [0]:
from keras.models import Sequential
from keras.layers import Dense

In [0]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [0]:
from sklearn.model_selection import train_test_split

In [0]:

X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=42)

In [0]:
# build the model
model = regression_model()

In [24]:
# fit the model
epochs = 50
model.fit(X_train, y_train, epochs=epochs, verbose=1)

Epoch 1/50
721/721 [==============================] - 0s 414us/step - loss: 14366.2130
Epoch 2/50
721/721 [==============================] - 0s 40us/step - loss: 5139.2551
Epoch 3/50
721/721 [==============================] - 0s 37us/step - loss: 4480.4797
Epoch 4/50
721/721 [==============================] - 0s 39us/step - loss: 3848.9933
Epoch 5/50
721/721 [==============================] - 0s 39us/step - loss: 3330.3429
Epoch 6/50
721/721 [==============================] - 0s 39us/step - loss: 2885.9046
Epoch 7/50
721/721 [==============================] - 0s 48us/step - loss: 2499.2740
Epoch 8/50
721/721 [==============================] - 0s 36us/step - loss: 2210.0947
Epoch 9/50
721/721 [==============================] - 0s 38us/step - loss: 1974.5721
Epoch 10/50
721/721 [==============================] - 0s 35us/step - loss: 1787.8675
Epoch 11/50
721/721 [==============================] - 0s 37us/step - loss: 1619.9082
Epoch 12/50
721/721 [==============================] - 0s 37us/step - loss: 1481.2379
Epoch 13/50
721/721 [==============================] - 0s 37us/step - loss: 1338.5239
Epoch 14/50
721/721 [==============================] - 0s 35us/step - loss: 1216.1820
Epoch 15/50
721/721 [==============================] - 0s 37us/step - loss: 1099.5613
Epoch 16/50
721/721 [==============================] - 0s 36us/step - loss: 993.1168
Epoch 17/50
721/721 [==============================] - 0s 37us/step - loss: 889.9228
Epoch 18/50
721/721 [==============================] - 0s 42us/step - loss: 799.4771
Epoch 19/50
721/721 [==============================] - 0s 47us/step - loss: 711.6212
Epoch 20/50
721/721 [==============================] - 0s 38us/step - loss: 636.5404
Epoch 21/50
721/721 [==============================] - 0s 38us/step - loss: 562.4690
Epoch 22/50
721/721 [==============================] - 0s 37us/step - loss: 507.1779
Epoch 23/50
721/721 [==============================] - 0s 37us/step - loss: 444.3445
Epoch 24/50
721/721 [==============================] - 0s 37us/step - loss: 394.3200
Epoch 25/50
721/721 [==============================] - 0s 39us/step - loss: 353.7771
Epoch 26/50
721/721 [==============================] - 0s 38us/step - loss: 312.7006
Epoch 27/50
721/721 [==============================] - 0s 40us/step - loss: 282.2614
Epoch 28/50
721/721 [==============================] - 0s 37us/step - loss: 254.6598
Epoch 29/50
721/721 [==============================] - 0s 36us/step - loss: 231.3537
Epoch 30/50
721/721 [==============================] - 0s 40us/step - loss: 211.6538
Epoch 31/50
721/721 [==============================] - 0s 40us/step - loss: 194.5485
Epoch 32/50
721/721 [==============================] - 0s 41us/step - loss: 179.7968
Epoch 33/50
721/721 [==============================] - 0s 39us/step - loss: 167.8116
Epoch 34/50
721/721 [==============================] - 0s 40us/step - loss: 159.9016
Epoch 35/50
721/721 [==============================] - 0s 37us/step - loss: 151.5736
Epoch 36/50
721/721 [==============================] - 0s 36us/step - loss: 145.1821
Epoch 37/50
721/721 [==============================] - 0s 35us/step - loss: 140.6729
Epoch 38/50
721/721 [==============================] - 0s 39us/step - loss: 139.4285
Epoch 39/50
721/721 [==============================] - 0s 42us/step - loss: 132.4557
Epoch 40/50
721/721 [==============================] - 0s 45us/step - loss: 131.6840
Epoch 41/50
721/721 [==============================] - 0s 36us/step - loss: 128.6454
Epoch 42/50
721/721 [==============================] - 0s 38us/step - loss: 126.9801
Epoch 43/50
721/721 [==============================] - 0s 36us/step - loss: 125.3660
Epoch 44/50
721/721 [==============================] - 0s 37us/step - loss: 123.0514
Epoch 45/50
721/721 [==============================] - 0s 36us/step - loss: 122.4988
Epoch 46/50
721/721 [==============================] - 0s 35us/step - loss: 121.6531
Epoch 47/50
721/721 [==============================] - 0s 36us/step - loss: 121.5827
Epoch 48/50
721/721 [==============================] - 0s 36us/step - loss: 120.2640
Epoch 49/50
721/721 [==============================] - 0s 34us/step - loss: 118.9765
Epoch 50/50
721/721 [==============================] - 0s 38us/step - loss: 119.7168

In [25]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

309/309 [==============================] - 0s 62us/step

119.36834795806786

In [0]:
from sklearn.metrics import mean_squared_error

In [27]:
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

119.36834814391553 0.0

In [29]:
total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors without normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 95.86790440383467
MSE 2: 121.99047254050048
MSE 3: 109.06636272047716
MSE 4: 122.38706580103408
MSE 5: 119.90092957135543
MSE 6: 106.89289747318404
MSE 7: 130.32191733943606
MSE 8: 104.1773302886864
MSE 9: 123.5047502239931
MSE 10: 111.02523497547533
MSE 11: 102.92687479654948
MSE 12: 103.56008985204605
MSE 13: 112.78549930115734
MSE 14: 113.05206730913577
MSE 15: 115.79358853337062
MSE 16: 112.08279907819137
MSE 17: 103.57928165571589
MSE 18: 95.09705700920624
MSE 19: 93.97495600629392
MSE 20: 108.9849027615149
MSE 21: 77.22564324437607
MSE 22: 67.827707914087
MSE 23: 50.28157324929839
MSE 24: 54.176847939352385
MSE 25: 49.66820239712119
MSE 26: 53.87960390751416
MSE 27: 50.83355041306381
MSE 28: 44.403204056823135
MSE 29: 53.98779927719758
MSE 30: 51.356492360432945
MSE 31: 61.37714272409581
MSE 32: 54.3998540612872
MSE 33: 57.89465443138938
MSE 34: 50.47834851903823
MSE 35: 52.336778091381284
MSE 36: 52.111585228188524
MSE 37: 53.459082804065694
MSE 38: 53.38345455428929
MSE 39: 49.66592839312013
MSE 40: 47.69697137480801
MSE 41: 63.32837156030352
MSE 42: 47.12084190590868
MSE 43: 70.28779747725305
MSE 44: 53.88564372139841
MSE 45: 68.6504406234593
MSE 46: 55.98317572831336
MSE 47: 51.8142572298019
MSE 48: 53.851698421737524
MSE 49: 54.6961037719134
MSE 50: 71.88648658431464


Below is the mean and standard deviation of 50 mean squared errors without normalized data. Total number of epochs for each training is: 50

Mean: 77.69842409957835
Standard Deviation: 28.03105641478107